{{#if error}}
  <div class="alert alert-danger alert-dismissible pink lighten-1 waves-effect waves-light btn-small">{{error}}</div>
{{/if}}

{{#each errors}}
  <div class="alert alert-danger alert-dismissible pink lighten-1 waves-effect waves-light btn-small">{{text}}</div>
{{else}}

{{/each}}
