{{#if success_msg}}
  <div class="alert alert-success alert-dismissible teal lighten-3 waves-effect waves-light btn-small">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
  <div class="alert alert-danger alert-dismissible pink lighten-1 waves-effect waves-light btn-small">{{error_msg}}</div>
{{/if}}
