<nav class="blue-grey darken-4">
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo left"><i class="fal fa-align-left" data-fa-transform="shrink-2 rotate-270"></i>bookend<i class="fal fa-align-right" data-fa-transform="shrink-2 rotate-90"></i></a>
      <ul class="right">
        {{#if user}}
          <li><a href="/books"><i class="fal fa-book"></i> My Books</a></li>
          <li><a href="/users/logout"><i class="fal fa-sign-out"></i> Logout</a></li>
        {{else}}
          <li><a href="/users/login"><i class="fal fa-sign-in-alt"></i> Login</a></li>
          <li><a href="/users/register"><i class="fal fa-user-plus"></i> Register</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
