
  <form class="form" action="/list/" method="POSt">
    <div class="input-group mb-3">
      <input type="text" class="form-control" name="terms" placeholder="Search by Book Title" aria-label="Book Search" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="butmit">Submit</button>
      </div>
    </div>
  </form>
