<div class="row">
  <form action="/list" method="POST" class="col s12" id="search-form">
    <div class="row valign-wrapper">
      <div class="input-field col s7 m9">
        <input placeholder="Search by Title/Author" id="search" type="text" class="validate" name="terms" aria-label="Book Search" />
      </div>
      <div class="col s5 m3">
        <button type="submit" class="waves-effect waves-light btn">Submit</button>
      </div>
    </div>
  </form>
</div>
