
<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">A small app that lets you start and end the book so you can keep track of how long it took you to read the book and how many books you've finished this year and total.</p>
  <p>To start search for your first book!</p>
  {{> _searchbar}}
</div>
