
<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Read a lot and want to keep track of how many books you've read? Add a book that you've started to read. Then when you finish, it'll add to your book list with how long you've taken.</p>
  <p>To start search for your first book!</p>
  {{> _searchbar}}
</div>
