body {
  font-family: "Josefin Sans", "Helvetica-Neue", Arial, sans-serif;
}


h5 {
  font-size: 1.50rem;
}

.btn {
  background-color: #3399CC !important;
}

.card .card-content {
    padding: 12px 24px;
    border-radius: 0 0 2px 2px;
}

.card .card-content h5 {
  margin-top: 0;
}

.navbar {
  font-family: "Josefin Sans", sans-serif;
}

.navbar-brand {
}

nav .brand-logo {
  font-size: 1.5rem;
}

.navbar-brand .oi {
  font-size: 16px;
  top: 0px;
}

.navbar-brand .format-align-justify {
  font-size: 20px;
  top: 2px;
  position: relative;
  margin-left: -8px;
  left: 7px;
}

.navbar-brand .oi-align-left {
  margin-left: -1px;
}

#search-form .btn[type=submit] {
  width: 100%;
}

.check-circle {
  position: absolute;
  top: -15px;
  right: -26px;
  color: #28a745;
  font-size: 38px;
}

.img-container {
  width: 100%;
  height: 200px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.text-snippet {
  min-height: 100px;
  padding-bottom: 10px;
}

.alert {
    width: 100%;
    margin: 20px 0;
    line-height: 0;
    padding: 20px;
    text-transform: capitalize;
    font-size: 17px;
}

.saved-book-btn, .check-circle {
  display: none;
}

.start-reading-btn {
  top: 0;
  right: 0;
}

.book-saved .saved-book-btn,
.book-saved .check-circle {
  display: block;
}

.book-viewer .images {
  margin-right: -30px;
}

.book-viewer .img-container {
  width: 100%;
  height: 200px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.book-viewer .card-text {
  height: 50px;
  overflow: hidden;
}

.book-viewer .btn i {
  position: relative;
  top: 4px;
  font-size: 16px;
}

.cover-container {
  width: 69px;
  height: 109px;
  background-repeat: no-repeat;
  background-size: contain;
}

.delete-book {
  position: absolute;
  top: 0;
  right: 0;
}

.delete-book .btn {
  padding: .2rem .4rem 0rem;
  border-radius: 2px;
  height: 24px;
  line-height: 0;
}

.delete-book .btn:hover {
  background-color: #dc3545;
}

.delete-book .btn i {
  color: #dc3545;
  font-size: 14px;
}

.delete-book .btn:hover i {
  color: #ffffff;
  font-size: 14px;
}

.finished-book {
  border-top: 6px solid #4db6ac;
}

.finished-book .finish-form {
  display: none;
}

.finished-book h5 {
  color: #546e7a;
}

.finished-book h5 small {
  font-size: 14px;
  color: #666666;
}

.finished-book .grade {
  font-size: 26px;
  position: relative;
  top: 4px;
}

.start-end-dates {
  padding-bottom: 10px;
}


.start-end-dates i {
  font-size: 14px;
  position: relative;
  top: 1px;

}

.total-read {
  text-align: right;
  margin-bottom: 0;
  font-size: 14px;
}

.total-read li {
  display: inline;
}

.total-read .fa {
  color: #757575;
}

.mybooks-list .card.horizontal .card-image {
  max-width: 30%;
}

@media screen and (min-width: 480px) {
  .mybooks-list .card.horizontal .card-image {
    max-width: 20%;
  }
}

.finished-book span.badge.new {
  float: none;
  padding: 11px 7px 9px;
  display: inline-block;
  height: 0;
  position: absolute;
  line-height: 0;
}
